language: c
#sudo: false

before_install:
 - sudo apt-get -qq update
 - sudo apt list *sqlite*
# - sudo apt-get install -y libsqlite3 libsqlite3-dev
 - sudo apt-get install -y libxml2 libxml2-dev
 - sudo apt-get install -y libopenjpeg2 libopenjpeg-dev 
 - sudo apt-get install -y libgdk-pixbuf2.0-common libgdk-pixbuf2.0-0 libgdk-pixbuf2.0-dev

install:
# install JPEGXR library
 - git clone https://git01.codeplex.com/jxrlib
 - pushd jxrlib && SHARED=1 make install && popd

#rvm:
# - 2.2
# - jruby
# - rbx-2