language: c

before_install:
 - sudo apt-get -qq update
 - sudo apt-get install -y libsqlite3-0 libsqlite3-dev sqlite3
 - sudo apt-get install -y libxml2 libxml2-dev
 - sudo apt-get install -y libopenjpeg2 libopenjpeg-dev 
 - sudo apt-get install -y libgdk-pixbuf2.0-common libgdk-pixbuf2.0-0 libgdk-pixbuf2.0-dev

install:
# install JPEGXR library
 - git clone https://jxrlib.codeplex.com
 - pushd jxrlib && sudo SHARED=1 make install && popd
 - pushd /usr/lib && sudo ln -s jxrlib-1.1/lib/*.so ./ && popd
 - pushd /usr/lib/pkgconfig && sudo ln -s jxrlib-1.1/lib/pkgconfig/* ./ && popd

script:
 - libtoolize --force && aclocal && autoheader && automake --force-missing --add-missing && autoconf
 - ./configure --prefix=${PWD}/openslide-master-Ubuntu-14.04-x86_64-release
 - make install
